{% extends 'base.html.twig' %}

{% block title %}Login | Dashbaord{% endblock %}

{% block body %}
    <section class="section section-login">
        <div class="container">
            <form class="form form-login" method="POST" action="{{ path('dashboard-login') }}">
                <h1 class="text-center">Log in</h1>

                {% if error %}
                    <div class="popup-warning">
                        {{ error.messageKey }}            
                    </div>
                {% endif %}  

                <div class="form-group hidden">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                </div>

                <div class="form-group">
                    <label for="username">Email: </label>
                    <input type="email" id="username" name="_username" class="form-control" required />
                </div>

                <div class="form-group">
                    <label for="password">Password: </label>
                    <div class="hidden-password">
                        <input type="password" id="password" name="_password" class="form-control" data-show-password="true" required />                
                        <span class="toggle-hidden-password" data-toggle="true">
                            <span class="hidden" style="background-image: url({{ asset('img/icon/icon-eye_hidden.svg') }})"></span>
                            <span class="visible" style="background-image: url({{ asset('img/icon/icon-eye.svg') }})"></span>
                        </span>
                    </div>
                </div>                                            

                <button type="submit" class="btn btn-block btn-primary">Login</button>
            </form>
        </div>
    </section>
{% endblock %}
